body {
  background-color: #384b70;
}
.container {
  width: 825px;
  margin: auto;
}
aside {
  background-color: whitesmoke;
  border: solid 5px;
  width: 825px;
  margin: 0 auto;
}
h1::after {
  content: "sale";
  color: wheat;
  background-color: red;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 1040px;
}
h1,
h3 {
  color: rgb(8, 8, 8);
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: rgb(247, 236, 223);
  padding: 10px;
  border: solid;
  margin: 10px 50px;
}
#img {
  padding: 5px;
  border: double 5px;
  margin-top: 50px;
  margin-left: 300px;
}
h2 {
  font-family: sans-serif;
  padding-left: 5px;
  margin-left: 360px;
  margin-top: 10px;
}

.p-1 {
  font-family: sans-serif;
  padding-left: 5px;
}
#free {
  color: #f80505;
  font-family: sans-serif;
  padding-left: 5px;
}
#button {
  color: rgb(255, 255, 255);
  background-color: black;
  text-transform: uppercase;
  border: solid;
  padding: 10px;
  width: 825px;
  margin-left: auto;
  margin-right: auto;
}
#button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  width: 825px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 5px;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}
.black {
  background-color: black;
}
.red {
  background-color: #f80505;
}
a:hover {
  background-color: brown;
  color: wheat;
}
.li {
  font-family: sans-serif;
  padding: 5px;
}
ul {
  list-style-type: square;
}
